<nav>
    <li>{{#link-to "autocomplete"}}Autocomplete{{/link-to}}</li>
    <li>{{#link-to "button"}}Button{{/link-to}}</li>
    <li>{{#link-to "datepicker"}}Datepicker{{/link-to}}</li>
    <li>{{#link-to "progressBar"}}Progress Bar{{/link-to}}</li>
    <li>{{#link-to "slider"}}Slider{{/link-to}}</li>
    <li>{{#link-to "spinner"}}Spinner{{/link-to}}</li>
</nav>

{{outlet}}