<h2>Basic Progress Bar</h2>
{{jqui-progress-bar value=37 max=100}}

<h2>Customized Progress Bar</h2>
{{custom-progress-bar}}

<p><a href="https://github.com/Gaurav0/ember-cli-jquery-ui-example/blob/master/app/components/custom-progress-bar/component.js">View Source code for the customized progress bar shown here.</a></p>