<h2>Spinner</h2>
{{jqui-spinner value=num min=100 max=2000 step=100}} &nbsp; {{num}}
<p>Just add <code>\{{jqui-spinner value=num min=100 max=2000 step=100}} \{{num}}</code> to any template in your application.</p>